body {
  font-family: sans-serif;
  margin: 0px;
  background-image: url("../img/copaqatar.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
}

h1,
h3 {
  gap: 0px;
  margin: 20px;
  align-content: center;
}

img {
  display: inline-block;
  max-width: 50px;
}
